body{
    font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        color: #2e2f42;

    
    
}

.logo-web{
    color: #4d5ae5;
}

.logo-black{
    color: #2e2f42;;
   
}

.logo-white{
    color: white;
    background-color: #434455;
}

.logo-black, .logo-web, .logo-white {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
}

.navigation {
    
    text-decoration: none;
    
    color: #434455;;
} 

.main-menu{
    
    text-decoration: none;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.contact{
    color: #434455;
    text-decoration: none;
   
    font-weight: 400;
}

.main-title{
    background-color: #434455;
    font-weight: 700;
        font-size: 56px;
    
        /* line-height: 60px; */
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.button {
    background-color: #4d5ae5;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 150%;
}

.title, .title-man{
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        
}

.title-man{
    text-align: center;
}

.title-team{
    font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
}

p{
    color: #434455;
}

.text-center{
    text-align: center;
}
.down-text {
    color: white;
    background-color: #434455;
  
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    
}