.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: red;
}

.logo-web{
    color: #4d5ae5;
}

.logo-black{
    color: black;
}

.logo-black, .logo-web {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}