body{
    font-family: "Roboto", sans-serif;
        font-variation-settings: "wdth" 100;
        color: #2e2f42;
}

.logo-web{
    color: #4d5ae5;
}

.logo-white{
    color: white;
}

.logo-black, .logo-web, .logo-white {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 18px;
}

.main-menu{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.07;
}
.main-menu:hover, .main-menu:focus{
    color: #404bbf;
}

.navigation{
    color: #434455;
}
.navigation:hover{
    color: #404bbf;
}
.navigation:focus{
    color: #404bbf;
}
.contact{
    color: #434455;
    text-decoration: none;
    font-weight: 400;
}
.contact:hover {
    color: #404bbf;
}
.contact:focus{
    color: #404bbf;
}

.main-title{
    font-weight: 700;
        font-size: 56px;
    
        /* line-height: 60px; */
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.button {
    background-color: #4d5ae5;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1.5;
}
.button:hover, .button:focus{
    background: #404bbf;
}

.title, .title-man{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        
}

.title-man{
    text-align: center;
}

.title-team{
    font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
}

p{
    color: #434455;
    line-height: 1.5;
}

.text-center{
    text-align: center;
}
.down-text {
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    
}